<%= partial 'partials/logo' %>
<% unless @flights.count > 0 %>
  <%= partial 'partials/notice', locals: { warning: @warning } %>
<% end %>

<div class="text-center boxes">

  <form name="search" method="get" class="form-inline">

    <div class="form-group">
      <%= partial 'partials/airport_selector',
                  locals: { target: params[:from],
                            name: 'from',
                            countries: @countries } %>
    </div>

    <div class="form-group">
      <%= partial 'partials/airport_selector',
                  locals: { target: params[:to],
                            name: 'to',
                            countries: @countries } %>
    </div>

    <div class="form-group">
      <div class="input-group date">
        <input name="date" type="text" class="form-control text-center" placeholder="<%= today %>" value="<%= params[:date] %>">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>

    <p></p>

    <div class="form-group">
      <button id="search" name="submit" type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<% if @errors.count > 0 %>
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>Error!</strong> <%= @errors.join(", ") %>
  </div>
<% end %>

<div class="marketing">
  <% if @flights.count > 0 %>
  <div class="table-responsive text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Flight</th>
          <th>Flight #</th>
          <th>Transit</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Depart</th>
          <th>Arrive</th>
          <th>Fare (RM)</th>
        </tr>
      </thead>
      <tbody>
        <% @flights.each do |flight| %>
        <tr>
          <td class="text-left"><%= flight[:flight_name] %></td>
          <td><%= flight[:flight_number] %></td>
          <td><%= flight[:transit] %></td>
          <td><%= flight[:origin] %></td>
          <td><%= flight[:destination] %></td>
          <td><%= flight[:depart_at] %></td>
          <td><%= flight[:arrive_at] %></td>
          <td class="text-right"><%= flight[:fare] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <% unless params[:from].nil? %>
    <div class="table-responsive text-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flight</th>
            <th>Flight #</th>
            <th>Transit</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Depart</th>
            <th>Arrive</th>
            <th>Fare (RM)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center noresult" colspan="8">No flight found for this search.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  <% end %>
</div>

<%= partial 'partials/marketing', locals: { text: 'announcement' } %>
