
<div class="logo text-center">
  <img src="/images/logo64.png" />
</div>

<div class="well text-center">

  <form method="get" class="form-inline">

    <div class="form-group">
      <select name="from" class="form-control">
        <option value="KBR">Kota Bharu (KBR)</option>
        <option value="KUL">Kuala Lumpur (KUL)</option>
        <option value="SZB">Subang (SZB)</option>
      </select>
    </div>

    <div class="form-group">
      <select name="to" class="form-control">
        <option value="KBR">Kota Bharu (KBR)</option>
        <option value="KUL">Kuala Lumpur (KUL)</option>
        <option value="SZB">Subang (SZB)</option>
      </select>
    </div>

    <div class="form-group">
      <!-- <input name="date" type="text" class="form&#45;control" placeholder="Jane Doe"> -->
      <div class="input-group date">
        <input name="date" type="text" class="form-control" placeholder="31-12-2015"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>

    <button name="submit" type="submit" class="btn btn-default">Search</button>
  </form>
</div>

<% if @errors.count > 0 %>
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>Error!</strong> <%= @errors.join(", ") %>
  </div>
<% end %>

<div class="row marketing">
  <div class="col-md-12">

    <% if @flights.count > 0 %>
      <div class="table-responsive text-center">
          <table class="table">
            <thead>
              <tr>
                <th>Flight</th>
                <th>Flight #</th>
                <th>Transit</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Depart</th>
                <th>Arrive</th>
                <th>Fare (RM)</th>
              </tr>
            </thead>
            <tbody>
              <% @flights.each do |flight| %>
                <tr>
                  <td class="text-left"><%= flight[:flight_name] %></td>
                  <td><%= flight[:flight_number] %></td>
                  <td><%= flight[:transit] %></td>
                  <td><%= flight[:origin] %></td>
                  <td><%= flight[:destination] %></td>
                  <td><%= flight[:depart_at] %></td>
                  <td><%= flight[:arrive_at] %></td>
                  <td class="text-right"><%= flight[:fare] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

  </div>

  <div class="col-md-12">
    <div class="fb-like" data-href="https://facebook.com/teecket-web" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
</div>


